# dependencias
/node_modules
/.pnp
.pnp.js

# testes
/coverage

# next.js
/.next/
/out/

# producao
/build

# arquivos de ambiente (NUNCA suba suas chaves!)
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sistema
.DS_Store
*.pem
npm-debug.log*
